body header {
	width:100%;
	padding-top:8px;
	background-color:#FFF;
}

body main{
	padding-top:45px;
	font-family:"SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.ym-wrapper {
	max-width: 100%;
}

.ym-col1 {
	width: 20%;
}

.ym-col1 .ym-cbox{
	padding-left:0;
}

.ym-col3 {
	width:80%;
	margin-right: 0;
}